<section class="contributors-list">
  <div class="contributors-list__items">
    <div *ngFor="let contributor of contributorsList" class="contributors-list__item">
      <app-contributors-item [contributor]="contributor"></app-contributors-item>
    </div>
  </div>
  <div *ngIf="needPagination" class="contributors-list__pagination">
    <app-pagination (nextPageAction)="nextPage()"
                    (previousPageAction)="previousPage()">
    </app-pagination>
  </div>
</section>
<div *ngIf="loading" class="spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
