@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'HelveticaLight';
  src: url('assets/fonts/HelveticaNeueLight.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
